#
PORT=10011

# Application (skill) name
APP_NAME=

#
CLOUDANT_URL=

#
LOGGER_LEVEL=

# set to true to make the expertise authenticate requests
AUTHENTICATE_REQUESTS=false

# set wcs credentials (can also be set in the wcs.json file), you need to set them all for this to work.
WCS_USERNAME =
WCS_URL =
WCS_PASSWORD =
WCS_VERSION_DATE =
WCS_VERSION =
WCS_WORKSPACE_ID =
WCS_WORKSPACE_NAME =
WCS_WORKSPACE_LANGUAGE =